<h2>Hola {{name}}</h2>
<p>Solicitaste restablecer tu contraseña</p>
<a
  href="{{resetLink}}"
  style="background-color: #3498db; color: white; padding: 10px 20px; text-decoration: none;"
>Restablecer contraseña</a>
<p>Este enlace expirará en 1 hora.</p>